<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>
  <link rel="stylesheet" href="{% static 'CSS/styles.css' %}">
  <script src="https://kit.fontawesome.com/7edbb1c9c4.js" crossorigin="anonymous"></script>
  <style>
    .active {
      color: black;
    }

    .aboutus {
      background-color: #f4f4f4;
      padding: 30px;
      text-align: center;
    }

    .aboutus h1 {
      margin-bottom: 20px;
      font-size: 36px;
      color: #333;
    }

    .aboutus p {
      font-size: 18px;
      line-height: 1.6;
      color: #666;
    }
  </style>
</head>

<body>
  {% include 'header.html'%}
  <div class="aboutus">
    <h1>ABOUT</h1>
    <p>Fitness is an integral part of a healthy lifestyle, encompassing physical activity,
      proper nutrition, and mental well-being. Our project delves into the diverse aspects
      of fitness, aiming to educate and inspire individuals to prioritize their well-being.
      From exploring various exercise routines and dietary strategies to discussing the importance
      of mental health in fitness, we provide comprehensive insights and practical advice.
      Whether you're a beginner or an experienced fitness enthusiast, our project offers valuable
      resources to support your journey towards a healthier lifestyle. Join us as we navigate the
      world of fitness, empowering you to make informed decisions and achieve your wellness goals.</p>

    <p>Join our daily mission program as we embark on a journey towards improved fitness and well-being. Through this
      program, we commit to incorporating daily physical activity, mindful eating habits, and positive mental health
      practices into our lives. Together, we'll explore a variety of exercises, nutrition tips, and mindfulness techniques
      to support our holistic wellness goals. By participating in our daily missions, you'll join a community of
      individuals dedicated to prioritizing their health and vitality. Let's take small steps each day towards a
      healthier, happier future. Join us in our mission to elevate our fitness and well-being, one day at a time.</p>
  </div>
  {% include 'footer.html'%}
</body>

</html>
